<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-md-9">
              <a routerLink="/skill"><h2 class="card-title">Python</h2></a>
          </div>
          <div class="col-md-3">
              <img
                  src="http://www.iconarchive.com/download/i73027/cornmanthe3rd/plex/Other-python.ico" />
          </div>
      </div>

      <!-- <ul class="expert-list"> 
              <li class="top">
                  <img class="rounded-circle" src="https://theocean.parivedasolutions.com/assets/images/person.svg" />
                  Chris Dixon
              </li>
              <li>Jacob Peterson</li>
              <li>Scott Roush</li>
          </ul> -->
      <div class="row top">
          <!-- <div class="col-md-2">
                  <img class="rounded-circle" src="https://theocean.parivedasolutions.com/assets/images/person.svg" />
          </div> -->
          <div class="col-md-10">
              Chris Dixon - PHI
          </div>
          <div class="col-md-2">
              <span class="badge badge-success">21</span>
          </div>
      </div>

      <div class="row">
              <!-- <div class="col-md-2">
              </div> -->
              <div class="col-md-10">
                  Jacob Peterson - DAL
              </div>
              <div class="col-md-2">
                  <span class="badge badge-success">2</span>
              </div>
          </div>

          <div class="row">
                  <!-- <div class="col-md-2">
                  </div> -->
                  <div class="col-md-10">
                      Chris Dixon - PHI
                  </div>
                  <div class="col-md-2">
                      <span class="badge badge-success">2</span>
                  </div>
              </div>
  </div>
</div>