<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <a routerLink="/skill">
                    <h2 class="card-title">Python</h2>
                </a>
            </div>
            <div class="col-md-3">
                <img src="http://www.iconarchive.com/download/i73027/cornmanthe3rd/plex/Other-python.ico" />
            </div>
        </div>

        <app-person-row-small></app-person-row-small>
        <app-person-row-small></app-person-row-small>
        <app-person-row-small></app-person-row-small>
    </div>
</div>