<app-navbar (currentPage)="toggleUserInfo()"></app-navbar>
<div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h1>Python <img src="http://www.iconarchive.com/download/i73027/cornmanthe3rd/plex/Other-python.ico"></h1>
                </div>
                <div class="col-md-8 py-3 filter-list">
                    <span class="badge badge-secondary badge-pill">Pandas</span>
                    <span class="badge badge-secondary badge-pill">Django</span>
                    <span class="badge badge-secondary badge-pill">NLP</span>
                </div>
            </div>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            <app-person-row></app-person-row>
            
</div>