<app-navbar (currentPage)="toggleUserInfo()"></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Python <img src="http://www.iconarchive.com/download/i73027/cornmanthe3rd/plex/Other-python.ico"></h1>
        </div>
    </div>
    <ul class="list-group">
        <li *ngFor="let person of people" class="list-group-item"><app-person-row></app-person-row></li>
        <li class="list-group-item"><app-person-row></app-person-row></li>
        <li class="list-group-item"><app-person-row></app-person-row></li>
        <li class="list-group-item"><app-person-row></app-person-row></li>
        <li class="list-group-item"><app-person-row></app-person-row></li>
    </ul>
</div>