<div class="container">
  <div class="row">
      <div class="col">
          <img src="assets/img/stephen.jfif" class="img-thumbnail" alt="Res Image" style="width:90%"/>
          <br>
          <div class="container">
              <br>
              <h4>Philadelphia, PA</h4>
              <h4>Consultant 1</h4>
              <br>
              <ul class="list-group">
                  <li class="list-group-item"><a href="">s.goddridge@mailbox.net</a></li>
                  <li class="list-group-item"><a href="">(555) 565-7676</a></li>
                  <li class="list-group-item"><a href="">Slack Message</a></li>
              </ul>
          </div>
      </div>
      <div class="col-9">
          <div class="border-bottom"><h1>Stephen Godderidge  <button type="button" class="btn btn-primary">Endorse</button></h1></div>

          <!-- Skills Column -->
          <br>
          <div>
              <ul class="list-unstyled">
                  <li class="media">
                      <img src="assets/img/angular-icon.svg" class="align-self-center mr-3" style="width:64px;height:64px;"/>
                      <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">Angular Web Framework  <span class="badge badge-success">54</span></h5>
                      </div>
                  </li>
                  <br>
                  <li class="media">
                      <img src="assets/img/cplusplus.png" class="align-self-center mr-3" style="width:64px;height:64px;"/>
                      <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">C++  <span class="badge badge-success">20</span></h5>
                      </div>
                  </li>
                  <br>
                  <li class="media">
                      <img src="assets/img/js.png" class="align-self-center mr-3" style="width:64px;height:64px;"/>
                      <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">JavaScript  <span class="badge badge-success">19</span></h5>
                      </div>
                  </li>
                  <br>
                  <li class="media">
                      <img src="assets/img/mongodb.png" class="align-self-center mr-3" style="width:64px;height:64px;"/>
                      <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">MongoDB  <span class="badge badge-success">8</span></h5>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
