<div class="row my-5">
  <div class="col-md-2">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Find a Fin" aria-label="Search">
    </form>
  </div>
  <div class="col-md-8">
    <h1 class="text-center">Subject Matter Experts</h1>
  </div>
  <div class="col-md-2">
    <div class="dropdown show text-right">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Market
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Atlanta</a>
        <a class="dropdown-item" href="#">Chicago</a>
        <a class="dropdown-item" href="#">Dallas</a>
        <a class="dropdown-item" href="#">Houston</a>
        <a class="dropdown-item" href="#">Los Angelos</a>
        <a class="dropdown-item" href="#">New York</a>
        <a class="dropdown-item" href="#">Philadelphia</a>
        <a class="dropdown-item" href="#">San Francisco</a>
        <a class="dropdown-item" href="#">Seattle</a>
        <a class="dropdown-item" href="#">Toronto</a>
        <a class="dropdown-item" href="#">Wsashington D.C</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <app-card></app-card>
  </div>
  <div class="col-md-4">
    <app-card></app-card>
  </div>
  <div class="col-md-4">
    <app-card></app-card>
  </div>
  <div class="col-md-4">
    <app-card></app-card>
  </div>
  <div class="col-md-4">
    <app-card></app-card>
  </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <app-skill></app-skill>
      </div>
    </div>
  </div>

</div>