<app-navbar (currentPage)="toggleUserInfo()"></app-navbar>
<div class="container">
    <div class="row my-5">
      <div class="col-md-2">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Market Filter</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="filterByMarket($event)">All Fins</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Atlanta</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Chicago</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Dallas</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Houston</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Los Angeles</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">New York</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Philadelphia</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">San Francisco</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Seattle</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Toronto</button>
            <button ngbDropdownItem (click)="filterByMarket($event)">Washington D.C</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h1 class="text-center">{{selectedMarket}} Subject Matter Experts</h1>
      </div>
      <div class="col-md-3">
        <form class="form-inline my-2 my-lg-0">
          <input (input)="searchPeople($event)" class="form-control full" type="search" placeholder="Find a Fin" aria-label="Search">
        </form>
        <div class="results-parent">
          <ul class="list-group results">
            <li *ngFor="let person of searchResults" class="list-group-item">
              <a routerLink="/profile/{{person.id}}">{{person.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-md-4" *ngFor="let skill of skills">
        <app-card [name]="skill.name" [iconUrl]="skill.iconUrl" [market]="selectedMarket"></app-card>
      </div>
    </div>
    
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <app-skill></app-skill>
          </div>
        </div>
      </div>
    
</div>

